.detail-lesson-of-course {
  padding-top: 15px;

  .btn-leave-course {
    text-align: center;

    a {
      padding: 8px 18px;
      background: $bg-color;
      box-shadow: $box-shadow-btn;
      border-radius: 22px;
      font-family: "UTM";
      font-size: 18px;
      color: white;
      font-weight: bold;

      &:hover {
        color: $txt-bg-color;
        text-decoration: none;
      }
    }
  }
}

.descriptions-container {
  padding-bottom: 30px;

  .title-container {
    .title {
      font-family: "UTM";
      font-size: 25px;
      font-weight: 700;
      color: $txt-color;
      margin-bottom: 10px;
    }
  }

  .content-container {
    .content {
      font-family: "UTM";
      font-size: 18px;
      color: $txt-description-color;
    }

    .tags {
      margin-bottom: 10px;
      border: 1px solid $border-detail-color;
      background: $input-color;
    }
  }
}

.document-container {
  .title-documents {
    p {
      font-family: "UTM";
      font-size: 25px;
      font-weight: 700;
      color: $txt-color;
      margin-bottom: 10px;
    }
  }

  .type-file-container {
    .pdf {
      width: 17.5px;
      height: 24px;
    }
  }

  .name-file-container {
    a {
      font-family: "UTM";
      font-size: 18px;
      font-weight: 700;
      color: $txt-color;
      margin-bottom: 10px;

      &:hover {
        text-decoration: none;
        color: $bg-color;
      }
    }
  }

  .button-preview-container {
    text-align: right;

    a {
      color: white;
      background: $bg-color;
      box-shadow: $box-shadow-btn;
      border-radius: 22px;
      padding: 8px 15px;
      font-family: "UTM";
      font-weight: bold;
      font-size: 15px;
      width: 85px;
      height: 34px;
      line-height: 34px;

      &:hover {
        color: $txt-color;
        text-decoration: none;
      }
    }
  }
}

.row-progress {
  margin-top: 25px;

  p {
    margin: 0;
  }

  .col-txt {
    font-family: "UTM";
    font-weight: 700;
    font-size: 20px;
    color: $txt-color;
    text-align: center;
  }
}

.progress {
  height: 1.5rem !important;

  .progress-bar {
    background-color: $bg-color;

    span {
      font-size: 16px;
    }
  }
}
