// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg-color: #B2D235;
$txt-color: #505353;
$txt-bg-color: #11114e;
$box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-btn: inset 0px 1.5px 2px #6f8710;
$font-OpenS: "Open Sans", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$bg-html: #3f6185;
$bg-laravel: #dc594c;
$bg-php: #556598;
$bg-css: #24abe2;
$bg-ruby: #e14e40;
$bg-java: #1b75bb;
$bg-header: #f8f9fa;
$bg-grey: #e5e5e5;
$btn-white: #ffffff;
$baner-linear: linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
$menu-white: #FFFBFB;
$menu_item-white: #FEFFFF;
$box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$background-white: #FFFFFF;
$box-shadow: rgba(0, 0, 0, 0.25);
$boder: #E2E2E2;
$line: #D9DADC;
$box-shadow-feed: rgba(0, 0, 0, 0.5);
$star: #F2C54F;
$boder-feed:  #C4C4C4;
$slick-row-color: #969494;
$back-ground-end: #454545;
$mess-backgorund: #F1F0F0;
$button-mess: #3184f7;
$mess-text: #b2b2b2;
$mess-close: #000;
$form-control: #F2F2F2;
$border-control: #E1E1E1;
$backgroud-google: #DC4E41;
$backgroud-facebook: #3B5999;
$line-login: #DBDBDB;
$back-ground-banner: linear-gradient(180deg, #FFFFFF 55%,  #E5E5E5 114%);
$input-color: #f2f2f2;
$border-filter-color: #c4c4c4;
$backg-btn-filter: #e5e6e7;
$description-color: #505050;
$border-detail-color: #d1d1d1;
$txt-description-color: #949292;
$txt-tags-color: #5d8bd0;
$rate: #ffd567;
$color-feedback: #707575;
